.messageContainer {
  list-style: none;
  padding: 0;
  position: relative;
}

.message {
  border: 1px solid #eee;
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  word-break: break-all;
  position: relative;
}

.deleteBtn {
  border: none;
  background-color: transparent;
  float: right;
}
